:root {
    --color-acento: dodgerblue;
    --color-acento-claro: #409fff;

    --texto-base: #050505;
    --fondo-base: #f2f2f2;

    --fondo-titulo: #ffffff;
    --fondo-navbar: #fafafa;
    --borde-navbar: #dddddd;

    --sombra: rgba(0, 0, 0, 0.05);
    --sombra-fuerte: rgba(0, 0, 0, 0.08);

    --texto-footer: #eeeeee;
    --fondo-footer: #292d32;

    --fondo-articulo-a: #ffffff;
    --fondo-menu-a: #fcfcfc;
    --borde-menu-a: #dddddd;
    --fondo-hovtabla-a: #f5f5f5;
    --borde-tabla-a: #f5f5f5;

    --fondo-tabla-th-b: #444444;
    --texto-tabla-th-b: #eeeeee;;
    --fondo-tabla-sec-b: #e6e6e6;
    --borde-tabla-sec-b: #d6d6d6;
    --fondo-hovtabla-b: #ebebeb;
    --borde-tabla-b: #e8e8e8;
}


#btn_tema {
    background-image: url(../media/icons/oscuro.png);
}

#nav3 .raiz {
    background-image: url("../media/icons/arrow_dwn.png");
}