:root {
    --color-acento: orange;
    --color-acento-claro: #ffbb3c;

    --texto-base: #e5e5e5;
    --fondo-base: #252525;

    --fondo-titulo: #151515;
    --fondo-navbar: #222222;
    --borde-navbar: #191919;

    --sombra: rgba(0, 0, 0, 0.1);
    --sombra-fuerte: rgba(0, 0, 0, 0.2);

    --texto-footer: #eeeeee;
    --fondo-footer: #191919;

    --fondo-articulo-a: #333333;
    --fondo-menu-a: #222222;
    --borde-menu-a: #191919;
    --fondo-hovtabla-a: #393939;
    --borde-tabla-a: #393939;

    --fondo-tabla-th-b: #444444;
    --texto-tabla-th-b: #ffffff;
    --fondo-tabla-sec-b: #292929;
    --borde-tabla-sec-b: #252525;
    --fondo-hovtabla-b: #292929;
    --borde-tabla-b: #292929;
}

#btn_tema {
    background-image: url(../media/icons/claro.png);
    filter: invert(1);
}

#nav3 .raiz {
    background-image: url("../media/icons/arrow_dwn_dark.png");
}

#titulo .logo {
    filter:invert(1);
}